@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  background-color: black;
  height: 100%;
}

* {
  border: 0px solid blue;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: white;
  /*font-family: 'Outfit', sans-serif;*/
}

h2 {
  font-weight: 300;
}

b {
  font-weight: 500;
}

.font {
  font-family: "Outfit", sans-serif;
}

.pozadina {
  background-image: url("img/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.home li a:hover,
.navigacija ul a:hover,
.fa-chevron-down:hover,
.fa-bars:hover,
.fa-xmark:hover {
  color: #0fb1a2 !important;
}

.slide {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Home slide */
.dropdown {
  display: inline-block;
}
.dropdown ul {
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 14px 16px;
}
.dropdown ul li {
  display: inline-block;
}
.dropdown ul li:hover {
  background: #555;
}
.dropdown ul li:hover ul {
  display: block;
}
.dropdown ul li ul {
  position: absolute;
  width: 150px;
  display: none;
}
.dropdown ul li ul li {
  background: #555;
  display: block;
  padding: 20px;
}
.dropdown ul li ul li:hover {
  background: #555;
}

#navbar {
  background-color: #333;
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.2s;
  margin: 0;
  display: block;
}
#navbar a {
  display: block;
  float: left !important;
}

.ja {
  font-size: 3rem;
}

.home {
  min-height: 100%;
  background-color: black;
  background-image: op;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.home a {
  color: white;
  text-decoration: none;
}

.fa-chevron-down {
  font-size: 2rem;
  cursor: pointer;
}

.gumb {
  background-color: #0fb1a2;
  font-size: 24px;
  color: black;
  margin: 10px;
  border-radius: 10px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* projekti */
.moji-radovi {
  min-height: 100%;
  background-color: black;
  color: white;
}

.fa-bars {
  font-size: 32px;
  cursor: pointer;
}

.grid-v-space {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Navigacija */
.home ul {
  padding: 0;
  margin: 0;
}
.home li {
  display: inline-block;
}

.fa-xmark {
  font-size: 36px;
  cursor: pointer;
  padding: 15px 45px 10px 10px;
}

.hamburgerNav {
  z-index: 1;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  transition: 0.5s ease;
  position: fixed;
  background-color: black;
}
.hamburgerNav li {
  list-style: none;
  text-align: center;
  padding: 1rem;
}
.hamburgerNav li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.hamburgerNav li a:hover {
  color: #0fb1a2;
}
.hamburgerNav ul {
  padding: 0;
  margin: 0;
}
.hamburgerNav i {
  color: white;
}

/* O meni */
.o-meni {
  min-height: 100%;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

/* Kontakt */
.kontakt {
  min-height: 100%;
  background-image: url("img/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 24px;
}
.kontakt input,
.kontakt textarea {
  background-color: white;
  /*border: 1px solid purple;*/
  padding: 15px;
  outline: 0;
  box-shadow: none;
}
.kontakt button {
  background-color: #7f8c8d;
  padding: 15px;
  border: 0;
  width: 50%;
}
.kontakt button:hover {
  background-color: #2ecc71;
}

.kontaktico i {
  font-size: 40px;
}
.kontaktico a {
  text-decoration: none;
  color: white;
}
.kontaktico a:hover {
  color: #0fb1a2;
}
.kontaktico a:active {
  color: white;
  text-decoration: none;
}

.drustvene-mreze a {
  font-size: 50px;
  text-align: center;
  color: white;
}
.drustvene-mreze a:hover {
  color: #c22f39;
}

.model_viewer {
  width: 100%;
  height: 365px;
  background-color: #fff;
}

.povratak {
  font-size: 40px;
}
.povratak a {
  text-decoration: none;
  color: white;
}
.povratak a:hover {
  transform: rotate(0deg);
  color: white;
}
.povratak a:active {
  color: white;
  text-decoration: none;
}

.hoverOverlay {
  position: relative;
  width: 50%;
  max-width: 440px;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hoverOverlay:hover .overlay {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .hoverOverlay {
    position: relative;
    width: 100%;
    max-width: 440px;
  }
  .overlay {
    font-size: 12px;
    padding: 20px;
  }
  .ja {
    font-size: 2rem;
  }
  .gumb {
    font-size: 1rem;
  }
  .kontaktico i {
    font-size: 24px;
  }
  .drustvene-mreze i {
    font-size: 24px;
  }
}
.grid-container1 {
  color: white;
  display: grid;
  grid-template-columns: 70px 400px;
  grid-template-rows: repeat(3, 75px);
  align-items: center;
}

.grid-container2 {
  color: white;
  display: grid;
  grid-template-columns: 680px;
  grid-template-rows: 120px 130px;
  align-items: center;
  padding-left: 60px;
}
.grid-container2 i {
  padding-left: 40px;
}/*# sourceMappingURL=index.css.map */