.contact-img-container {
  height: 1000px;
  width: 100%;
  background-image: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mask-image: gradient();
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 10%,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.8))
  );
}
.contact {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  .lijevidio {
    padding: 600px 10px 0px 20px;
    i {
      font-size: 44px !important;
    }
  }
  .desnidio {
    padding: 100px 10px 0px 30px !important;
    i {
      font-size: 50px;
    }
    a {
      text-align: center;
    }
  }
  div {
    color: white;
  }
  i {
    margin-right: 20px;
  }
}
.povratak {
  padding-top: 330px;
}
