.intro {
  margin-left: 110px;
}
.pozadina {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home {
  min-height: 100%;
}
.gumb {
  background-color: #0fb1a2;
  box-shadow: 5px 2px 8px #333;
  font-size: 24px;
  color: white;
  margin: 10px;
  border-radius: 10px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
