@media only screen and (max-width: 767px) {
  html,
  body {
    overflow-x: hidden !important;
  }
  #navbar {
    height: 60px;
    img {
      height: 50px;
      width: 50px;
    }
    .fa-bars {
      font-size: 30px;
    }
  }
  .home {
    height: 70%;
  }
  .pozadina {
    display: none;
  }
  .homeText {
    height: 120vh;
  }
  .overlay {
    font-size: 16px;
  }
  .web {
    font-size: 11px !important;
    h5 {
      font-size: 13px;
    }
  }
  .intro {
    font-size: 2rem;
    margin-left: 20px;
  }
  .gumb {
    font-size: 1rem;
  }
  .contact {
    padding-left: 40px;
    font-size: 16px;
    .lijevidio {
      padding: 100px 10px 0px 10px !important;
      i {
        font-size: 30px !important;
      }
    }
    .desnidio {
      padding: 80px 15px 0px 15px !important;
      i {
        padding-left: 15px;
        font-size: 35px;
      }
      .povratak {
        padding: 100px 30px 0 0;
      }
    }
  }
  .mtMainTitle {
    margin-top: 48px;
  }
  .subtitle {
    font-size: 1.2rem;
  }
}
