.hamburgerNav {
  z-index: 1;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  transition: 0.5s ease;
  position: fixed;
  background-color: black;
  li {
    list-style: none;
    text-align: center;
    padding: 1rem;
    a {
      font-size: 1.5rem;
    }
    a:hover {
      color: #0fb1a2 !important;
    }
  }
  ul {
    padding: 0 !important;
    margin: 0 !important;
  }
  i {
    color: white;
  }
}
#navbar {
  background-color: #333;
  height: 80px;
  transition: top 0.2s;
  .fa-bars {
    margin-right: 65px !important;
  }
  img {
    margin-left: 40px;
  }
}
//DROPDOWN
.dropbtn {
  padding: 100px 40px 100px 40px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 150px;
  z-index: 1;
  a {
    padding: 12px 16px;
    display: block;
    &:hover {
      color: #0fb1a2;
    }
  }
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #333;
}
.povratak {
  font-size: 40px;
  padding-top: 330px;
}
