@import "loaders";
@import "contact";
@import "home";
@import "mobile";
@import "nav";
@import "overlay";
html,
body {
  background-color: black;
  height: 100%;
  user-select: none;
  scrollbar-width: thin;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden !important;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}
h1,
h2 {
  font-weight: 300;
  color: white;
}
b {
  font-weight: 500;
}
.fa-solid:hover,
.fa-linkedin:hover {
  color: #0fb1a2;
}
.fa-github:hover,
.fa-youtube:hover {
  color: #c22f39;
}
.fa-bars {
  font-size: 32px;
  cursor: pointer;
  color: white;
}
.fa-xmark {
  font-size: 36px;
  cursor: pointer;
  padding: 15px 45px 10px 10px;
}
.slide {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#omeni {
  padding-top: 140px;
}
.o-meni {
  margin-bottom: 150px;
  color: white;
}
.blueWrap {
  color: #0fb1a2;
}
a.blueWrap {
  color: #0fb1a2;
}
#show-btn {
  margin-bottom: 40px;
  &:hover {
    background: rgb(52, 209, 194);
    background: linear-gradient(
      56deg,
      rgba(52, 209, 194, 1) 0%,
      rgba(15, 177, 162, 1) 67%
    );
  }
}
#hide-btn {
  display: none;
  margin-bottom: 40px;
}
#show-hide {
  display: none;
}
.btnSmall {
  background-color: #0fb1a2;
  box-shadow: 5px 2px 8px #333;
  font-size: 18px;
  color: white;
  border: 0;
  border-radius: 10px;
  height: 50px;
  &.Red {
    background-color: #c22f39;
    &:hover {
      background: #c22f39;
      background: linear-gradient(56deg, #e2444f 0%, #c22f39 67%);
    }
  }
}
hr {
  color: #0fb1a2;
  opacity: 0.5;
}
.moji-radovi {
  padding-top: 180px;
}
