.downLoader {
  width: 15px;
  height: 20px;
  margin-left: 15px;
  background: #fff;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: bump 0.4s ease-in infinite alternate;
}

.downLoader::after {
  content: "";
  box-sizing: border-box;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-top-color: #fff;
}

@keyframes bump {
  0% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -5px);
  }
}
.upLoader {
  width: 15px;
  height: 20px;
  background: #fff;
  margin-left: 15px;
  margin-top: 15px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: bump 0.4s linear infinite alternate;
}

.upLoader::after {
  content: "";
  box-sizing: border-box;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-bottom-color: #fff;
}

@keyframes bump {
  0% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -5px);
  }
}
.bracketsloader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 35px;
  opacity: 0.8;
  margin-bottom: 10px;
}

.bracketsloader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.bracketsloader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
.eyesloader {
  position: relative;
  margin: 10px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.eyesloader::after,
.eyesloader::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: eyeMove 10s infinite, blink 10s infinite;
}

@keyframes eyeMove {
  0%, 10% {
    background-position: 0px 0px;
  }
  13%, 40% {
    background-position: -15px 0px;
  }
  43%, 70% {
    background-position: 15px 0px;
  }
  73%, 90% {
    background-position: 0px 15px;
  }
  93%, 100% {
    background-position: 0px 0px;
  }
}
@keyframes blink {
  0%, 10%, 12%, 20%, 22%, 40%, 42%, 60%, 62%, 70%, 72%, 90%, 92%, 98%, 100% {
    height: 48px;
  }
  11%, 21%, 41%, 61%, 71%, 91%, 99% {
    height: 18px;
  }
}
.coffee-loader {
  width: 46px;
  height: 38px;
  margin: 0 0 10px 10px;
  display: inline-block;
  position: relative;
  background: #fff;
  border-radius: 15% 15% 35% 35%;
}

.coffee-loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid #fff;
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}

.coffee-loader::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  color: #fff;
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
  }
}
.contact-img-container {
  height: 1000px;
  width: 100%;
  background-image: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mask-image: gradient();
  -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
}

.contact {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
}
.contact .lijevidio {
  padding: 600px 10px 0px 20px;
}
.contact .lijevidio i {
  font-size: 44px !important;
}
.contact .desnidio {
  padding: 100px 10px 0px 30px !important;
}
.contact .desnidio i {
  font-size: 50px;
}
.contact .desnidio a {
  text-align: center;
}
.contact div {
  color: white;
}
.contact i {
  margin-right: 20px;
}

.povratak {
  padding-top: 330px;
}

.intro {
  margin-left: 110px;
}

.pozadina {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mask-image: gradient();
  -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
}

.home {
  height: 100%;
  width: 100%;
}

.homeText {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.gumb {
  background-color: #0fb1a2;
  box-shadow: 5px 2px 8px #555;
  font-size: 22px;
  color: #333;
  margin: 10px;
  border-radius: 10px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gumb:hover {
  background: rgb(52, 209, 194);
  background: linear-gradient(56deg, rgb(52, 209, 194) 0%, rgb(15, 177, 162) 67%);
}

.loaderDown {
  padding-top: 40vh;
}

.hamburgerNav {
  z-index: 1;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  transition: 0.5s ease;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
}
.hamburgerNav li {
  list-style: none;
  text-align: center;
  padding: 1rem;
}
.hamburgerNav li a {
  font-size: 1.5rem;
}
.hamburgerNav li a:hover {
  color: #0fb1a2 !important;
}
.hamburgerNav ul {
  padding: 0 !important;
  margin: 0 !important;
}
.hamburgerNav i {
  color: white;
}

#navbar {
  background-color: rgba(0, 0, 0, 0);
  height: 70px;
}
#navbar .fa-bars {
  margin-right: 65px !important;
}
#navbar img {
  margin-left: 40px;
}

.navbar-scrolled {
  background-color: #222;
}

.homenav {
  transition: all 0.4s;
}

.mouseover {
  background-color: #222;
}

.dropbtn {
  padding: 100px 40px 100px 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  border-radius: 10px;
  min-width: 150px;
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  display: block;
}
.dropdown-content a:hover {
  color: #0fb1a2;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #222;
}

.grafOverlay {
  position: relative;
}
.grafOverlay img {
  display: block;
  width: 100%;
  height: 100%;
}
.grafOverlay a:hover {
  color: #c22f39 !important;
  font-weight: 500;
}

.grid-v-space {
  margin: 12px 0 12px 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: calc(100% - 24px);
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay:hover {
  opacity: 1;
}

.mtMainTitle {
  margin-top: 120px;
}

.mtTitle {
  margin-top: 24px;
}

:root {
  --bg-color: rgb(2, 2, 2);
  --typewriterSpeed: 2s;
  --typewriterCharacters: 21;
}

.typewrite {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}

.subtitle {
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
  text-align: center;
}

.typewrite::before,
.typewrite::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.typewrite::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.typewrite::after {
  width: 0.125em;
  background: white;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 767px) {
  html,
  body {
    overflow-x: hidden !important;
  }
  #navbar {
    height: 60px;
  }
  #navbar img {
    height: 50px;
    width: 50px;
  }
  #navbar .fa-bars {
    font-size: 30px;
  }
  .home {
    height: 70%;
  }
  .pozadina {
    display: none;
  }
  .homeText {
    height: 120vh;
  }
  .overlay {
    font-size: 16px;
  }
  .web {
    font-size: 11px !important;
  }
  .web h5 {
    font-size: 13px;
  }
  .intro {
    font-size: 2rem;
    margin-left: 20px;
  }
  .gumb {
    font-size: 1rem;
  }
  .contact {
    padding-left: 40px;
    font-size: 16px;
  }
  .contact .lijevidio {
    padding: 100px 10px 0px 10px !important;
  }
  .contact .lijevidio i {
    font-size: 30px !important;
  }
  .contact .desnidio {
    padding: 80px 15px 0px 15px !important;
  }
  .contact .desnidio i {
    padding-left: 15px;
    font-size: 35px;
  }
  .contact .desnidio .povratak {
    padding: 100px 30px 0 0;
  }
  .mtMainTitle {
    margin-top: 48px;
  }
  .subtitle {
    font-size: 1.2rem;
  }
}
html,
body {
  background-color: black;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scrollbar-width: thin;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden !important;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-weight: 300;
  color: white;
}

b {
  font-weight: 500;
}

.fa-solid:hover,
.fa-linkedin:hover {
  color: #0fb1a2;
}

.fa-github:hover,
.fa-youtube:hover {
  color: #c22f39;
}

.fa-bars {
  font-size: 32px;
  cursor: pointer;
  color: white;
}

.fa-xmark {
  font-size: 36px;
  cursor: pointer;
  padding: 15px 45px 10px 10px;
}

#omeni {
  padding-top: 140px;
}

.o-meni {
  margin-bottom: 150px;
  color: white;
}

.blueWrap {
  color: #0fb1a2;
}

a.blueWrap {
  color: #0fb1a2;
}

#show-btn {
  margin-bottom: 40px;
}
#show-btn:hover {
  background: rgb(52, 209, 194);
  background: linear-gradient(56deg, rgb(52, 209, 194) 0%, rgb(15, 177, 162) 67%);
}

#hide-btn {
  display: none;
  margin-bottom: 40px;
}

#show-hide {
  display: none;
}

.btnSmall {
  background-color: #0fb1a2;
  box-shadow: 5px 2px 8px #333;
  font-size: 18px;
  color: white;
  border: 0;
  border-radius: 10px;
  height: 50px;
}
.btnSmall.Red {
  background-color: #c22f39;
}
.btnSmall.Red:hover {
  background: #c22f39;
  background: linear-gradient(56deg, #e2444f 0%, #c22f39 67%);
}

hr {
  color: #0fb1a2;
  opacity: 0.5;
}

.moji-radovi {
  padding-top: 180px;
}/*# sourceMappingURL=index.css.map */